html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-light-neutral);
    font-family: 'Inter', sans-serif;
}

:root {
  --color-primary: #3C9A5F;         /* Grass Green */
  --color-secondary: #4DA6FF;       /* Fresh Sky Blue */
  --color-accent: #A1E3D8;          /* Dewdrop Aqua */
  --color-dark-neutral: #2F3E46;    /* Sprinkler Pipe Gray */
  --color-light-neutral: #F3F7F2;   /* Lawn Mist Off-White */
  --headerHeight: 80px;
}