---
import SplashImg from "../components/Home/SplashImg/SplashImg.astro";
import AdvisorApproved from "../components/Home/AdvisorApproved/AdvisorApproved.astro";
import Layout from "../layouts/Layout.astro";
import BrandsServiced from "../components/Home/BrandsServiced/BrandsServiced.astro";
import "../styles/global.css";
---

<Layout noPadding>
  <main class="main-content">
    <SplashImg />
    <AdvisorApproved />
    <BrandsServiced />
  </main>
</Layout>

<style>
  .main-content {
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
</style>
