---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <main class="main-content">
    <img src="/src/assets/sprinkler-1.png" class="splash-img" />
    <div class="text-container">
      <h1>Welcome to A-1 Sprinkler Repair</h1>
      <h3>Your Irrigation Repair Professionals</h3>
      <p>
        We specialize in repairing and maintaining irrigation systems to keep
        your lawn and landscape healthy and beautiful.
      </p>
    </div>
  </main>
</Layout>

<style>
  .main-content {
    display: flex;
    gap: 2rem;
  }

  .splash-img {
    width: 50%;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }

  .text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
</style>
