---
type Props = { noPadding?: boolean };

const { noPadding } = Astro.props;
---

<div class:list={["page-container", { "no-padding": noPadding }]}>
  <slot />
</div>

<style>
  .page-container {
    width: 100%;
    margin-top: var(--header-height);
    padding: 1rem;
  }

  .page-container.no-padding {
    padding: 0;
  }
</style>
