---
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
import PageContainer from "../components/PageContainer/PageContainer.astro";
import MobileSidebar from "../components/MobileSidebar/MobileSidebar.astro";
// import { ClientRouter } from "astro:transitions";

type Props = {
  noPadding?: boolean;
};

const { noPadding } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <slot name="head" />
    <!-- <ClientRouter /> -->
    <title>A-1 Sprinkler Repair</title>
  </head>
  <body class="site-wrapper">
    <Header />
    <MobileSidebar />
    <main class="site-main">
      <PageContainer noPadding={noPadding}>
        <slot />
      </PageContainer>
    </main>
    <Footer />
  </body><style>
    .site-wrapper {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .site-main {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  </style>
</html>
